<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="user/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<section>
    <div class="card add-form-card">
        <div class="card-body">
<!--            alert -message-->
            <div th:if="${session.msg}" th:classappend="${session.msg.type}" class="alert alert-dismissible fade show text-center" role="alert">
                <span th:text="${session.msg.content}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="text-center my-3">
                        <h1 class="text-color">Add Contact</h1>
                    </div>
                    <div>
                        <form th:action="@{/user/process-add-contact}" method="post" enctype="multipart/form-data" th:object="${contact}">
                            <div class="input-group mb-3">
                                <span class="input-group-text mobile-font" id="name"><i class="bi bi-person-square"></i></span>
                                <input type="text" th:classappend="${#fields.hasErrors('name')}?'is-invalid':''" class="form-control mobile-font" placeholder="Enter Name" name="name" aria-label="Username" aria-describedby="name" required>
                                <div id="nameValidation" class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text mobile-font" id="nickName"><i class="bi bi-person-hearts"></i></span>
                                <input type="text" class="form-control mobile-font" placeholder="Enter nick name" name="nickName" aria-label="nickName" aria-describedby="name" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text mobile-font" id="email">@</span>
                                <input type="email" class="form-control mobile-font" placeholder="Enter email" name="email" aria-label="email" aria-describedby="name">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text mobile-font" id="work"><i class="bi bi-briefcase-fill"></i></span>
                                <input type="text" class="form-control mobile-font" placeholder="Enter work" name="work" aria-label="work" aria-describedby="name">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text mobile-font" id="phone"><i class="bi bi-telephone-fill"></i></span>
                                <input type="text" th:classappend="${#fields.hasErrors('phone')}?'is-invalid':''" class="form-control mobile-font" placeholder="Enter phone number" name="phone" aria-label="phone" aria-describedby="phone" required>
                                <div id="phoneValidation" class="invalid-feedback" th:each="e : ${#fields.errors('phone')}" th:text="${e}">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="mobile-font form-label">Description</label>
                                <textarea style="resize: none" name="description" class="form-control mobile-font" id="description" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="profilePicture" class="mobile-font form-label"><span class="mx-2"><i class="bi bi-person-rolodex"></i></span>Profile Picture</label>
                                <input class="form-control mobile-font " type="file" id="profilePicture" name="profilePicture">
                            </div>
                            <div class="text-center">
                                <button class="btn btn-outline-info mobile-font my-2">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>