*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/
}
body{
    background-color: #ccc;
}

/* Common Style */
.text-color{
    color: #009688;
}
.form-control:focus{
    border-color: #009688;
}

/*End of Common Style */

/* Nav Bar Style*/

.nav-theme{
    background-color: #009688;
}

/* End Nav Bar Style*/

/* Home page Style*/

.banner{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgb(0,0,0,0.8)) ,url("../images/banner.jpg") no-repeat;
    background-size: cover;
    color: white;
    position: fixed;
    overflow: hidden;
}

.btn-starter{
    background-color: #009688
}
.btn:first-child:hover, :not(.btn-check)+.btn:hover{
    background-color: #067a70;
}

/* End Home page Style*/

/*  sign-in page*/
.my-card{
    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
}
/* End  sign-in page*/


/*  login page  */

#login .container #login-row #login-column #login-box {
    margin-top: 7.5rem;
    border: 1px solid #9C9C9C;
    background-color: white;
    border-radius: 20px;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

/*  End of login page  */

/* Dashboard style*/

.dashboard{
    display: flex;
}

/* Side bar*/
.side-bar{
    width: 22%;
    background-color: white;
    height: 100vh;
    position: sticky;
    top: 0;
    display: block;
}

.side-bar-items{
    margin: 1rem 0;

}
.side-bar-item{
    list-style: none;
    padding: 0.5rem;
    /*margin: 0.5rem;*/

}
.side-bar-item:hover,
.side-bar-item:active{
   background-color: #ccc;
    cursor: pointer;
}
.side-bar-item a{
    text-decoration: none;
    font-size: 1.2rem;
    color: gray;
}
.side-bar-item a:hover,
.side-bar-item a:active{
    color: white;
}

.side-bar__divider{
    height: 0.05rem;
    background-color: #ada0a0;
}

.main-content{
    width: 78%;
}
.menu-bar{
    display: none;
}


/* End Dashboard style*/

@media (max-width: 1000px){
    /* Dashboard style*/
    .main-content{
        width: 70%;
    }
    .side-bar{
        width: 30%;
    }
    /* End of Dashboard style*/
}

@media (max-width: 700px) {

    /* Dashboard style*/

    .backdrop{
        position: fixed;
        display: none;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0,0.5);
        z-index: 100;
        top: 0;
    }
    .menu-bar{
        display: block;
    }
    .mobile-font{
        font-size: 1.4rem;
    }

    .side-bar{
        width: 75%;
        display: none;
        position: sticky;
        z-index: 101;
    }
    .side-bar-items {
        margin: 2rem 0;
    }
    .side-bar-item {
        margin: 1rem 0;
    }
    .side-bar-item a {
        font-size: 1.4rem;
    }
    .main-content{
        width: 100%;
    }
    .menu-bar a{
        text-decoration: none;
        color: #009688;
        font-size: 1.2rem;
    }



    /* End Dashboard style*/
}