*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-color: #ccc;
}
.nav-theme{
    background-color: #009688;
}

.banner{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgb(0,0,0,0.8)) ,url("../images/banner.jpg") no-repeat;
    background-size: cover;
    color: white;
}

.btn-starter{
    background-color: #009688
}
.btn:first-child:hover, :not(.btn-check)+.btn:hover{
    background-color: #067a70;
}
/*  sign-in page*/
.my-card{
    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
}

.text-color{
    color: #009688;
}

/*  login page  */

#login .container #login-row #login-column #login-box {
    margin-top: 7.5rem;
    border: 1px solid #9C9C9C;
    background-color: white;
    border-radius: 20px;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
@media (max-width: 450px) {

}